{% extends 'WIFapp/layout.html' %}
{% load static %}
{% block body %}

<div class="film-header">
    <div class="title-row">
        <h1>{{ film.title }}</h1>
        <p>{{ film.year }}</p>
        <p>&#10031;{{ film.tmdb_rating }}</p>
    </div>
    <p class="small-text">
        {% for genre in genres %}
            {{ genre }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="small-text">
        <a href="https://letterboxd.com/tmdb/{{ film.tmdb_id }}">Letterboxd</a>
        <span class="bullet">•</span>
        <a href="https://imdb.com/title/{{ film.imdb_id }}">IMDb</a></p>
    </p>
</div>


<div class="detail-container">
    <img src='https://image.tmdb.org/t/p/w500/{{film.poster_path}}'>

    <div class="detail-data">
        <p class="margin-bottom">{{film.synopsis}}</p>

        <div class="margin-bottom detail-container-section small-text">
            <h3>Stats</h3>
            {% if film.passes_bechdel %}
                <p>&#10003; Passes Bechdel</p>
            {% elif film.passes_bechdel == False %}
                <p>✘ Fails Bechdel</p>
            {% else %}
                <p class="empty">No Bechdel data</p>
            {% endif %}

            {% if film.starring_women %}
                <p>&#10003; Stars 2+ women</p>
            {% endif %}

            {% if film.woman_directed %}
                <p>&#10003; Woman directed</p>
            {% endif %}

            {% if film.women_written %}
                <p>&#10003; Woman written</p>
            {% endif %}
        </div>
            
        <div class="margin-bottom detail-container-section small-text">
            <h3>Cast and Crew</h3>
            <p>
            Starring
            {% for name, person_id in stars %}
                <a href="{% url 'person' person_id %}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>

            <p>
            Directed by
            {% for name, person_id in directors %}
                <a href="{% url 'person' person_id %}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>

            <p>
            Written by
            {% for name, person_id in writers %}
                <a href="{% url 'person' person_id %}">{{ name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>

        </div>

        
    </div>
</div>

{% endblock %}