{% extends "WIFapp/layout.html" %}
{% load static %}


{% block body %}
<div class="filters">
    <select id="decade-selector" autocomplete="off">
        <option value="1960">1960s</option>
        <option value="1970">1970s</option>
        <option value="1980" selected>1980s</option>
        <option value="1990">1990s</option>
        <option value="2000">2000s</option>
        <option value="2010">2010s</option>
        <option value="2020">2020s</option>
    </select>

    <select id="genre-selector" multiple autocomplete="off">
        {% for genre in genres %}
            <option value="{{ genre.id }}">{{ genre.name }}</option>
        {% endfor %}
    </select>

    <label>
        <input type="checkbox" id="bechdel-checkbox" name="passes_bechdel" autocomplete="off">
        Passes Bechdel Test
    </label>

    <label>
        <input type="checkbox" id="women-written-checkbox" name="women_written" autocomplete="off">
        Written by Women
    </label>

    <label>
        <input type="checkbox" id="women-directed-checkbox" name="women_directed" autocomplete="off">
        Directed by Women
    </label>

    <label>
        <input type="checkbox" id="sort-by-rating-checkbox" name="sort_by_rating" autocomplete="off">
        Sort by rating
    </label>

    <label>
        <input type="checkbox" id="" name="" autocomplete="off" disabled checked>
        Woman top-billed actor
    </label>

</div>


<div id="film-list" class="image-grid"></div>

<script type="module" src="{% static 'WIFapp/js/dynamic_filter.js' %}"></script>

{% endblock %}