{% extends 'WIFapp/layout.html' %}
{% load static %}
{% block body %}


<h1>{{ person.name }}</h1>
<div class="detail-container">
    <div class="image-container">
    {% if person.photo_path %}
        <img src="https://image.tmdb.org/t/p/w300/{{ person.photo_path }}">
    {% else %}
        <div class="placeholder image"></div>
    {% endif %}
    </div>

    <div class="detail-data">
        <p><a href="http://imdb.com/name/{{ person.imdb_id }}">IMDb</a></p>
        <p>{{ person.biography }}</p>
    </div>
</div>

<div class="person-films">
    <h2>Starred</h2>
        {% for film in starred_films %}
            <a href="{% url 'film' film.id %}"><img src='https://image.tmdb.org/t/p/w200/{{film.poster_path}}'></a>
        {% empty %}
            <p class="empty">Nothing yet</p>
        {% endfor %}

    <h2>Directed</h2>
        {% for film in directed_films %}
        <a href="{% url 'film' film.id %}"><img src='https://image.tmdb.org/t/p/w200/{{film.poster_path}}'></a>
        {% empty %}
            <p class="empty">Nothing yet</p>
        {% endfor %}

    <h2>Written</h2>
        {% for film in written_films %}
        <a href="{% url 'film' film.id %}"><img src='https://image.tmdb.org/t/p/w200/{{film.poster_path}}'></a>
        {% empty %}
            <p class="empty">Nothing yet</p>
        {% endfor %}
</div>

{% endblock %}